*{
    margin: 0;
    padding: 0;
}
nav{
    margin-top: 0.25rem;
    height:3rem;
    border: 0.5vmin solid black;
    border-radius: 1rem;
    background-color: cyan;
    display:flex;
    align-items: center;
}
text{
    font-size:1.5rem;
    margin-left: 0.75rem;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
}
.game{
   display: grid;
   grid-template-columns: repeat(3 , 10vw);
   grid-template-rows: repeat(3 , 10vw);
   margin-left: 3rem; ;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    border: 0.25vmin solid black;
    cursor: pointer;
}
.box:hover{
    background-color:rgb(208, 250, 250);
}
input{
    margin:auto
}
 button{
  margin: 0.5rem;
} 
.info{
   margin-top:2rem;
} 
.br{
   border-right:0;
}
.bl{
   border-left: 0;
}
.bb{
  border-bottom: 0;
}
.bt{
   border-top: 0;
}
@media screen and (max-width: 800px)
{
.container{
    flex-wrap: wrap;
}
.game{
    margin-bottom: 1rem;
}
}